@model WebShopCart.Models.UserRegistrationModel
@{
    ViewData["Title"] = "Login";
}

<section id="form">
    <!--form-->
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="signup-form">
                    <!--sign up form-->
                    <h2>New User Signup!</h2>
                    @using (Html.BeginForm("RegisterUser", "Home", FormMethod.Post))
                    {
                        <label>User Name:</label>
                        @Html.TextBoxFor(m => m.user_name, new { placeholder = "User Name" })
                        @* @Html.ValidationMessageFor(m => m.user_name) *@

                        <label>Email Address:</label>
                        @Html.TextBoxFor(m => m.email, new { placeholder = "Email Address" })
                        @Html.ValidationMessageFor(m => m.email)

                        <label>Password:</label>
                        @Html.PasswordFor(m => m.password, new { placeholder = "Password", type = "password" })
                        @Html.ValidationMessageFor(m => m.password)

                        <label>Confirm Password:</label>
                        @Html.PasswordFor(m => m.confirmPassword, new { placeholder = "Confirm Password", type = "password" })


                        <button type="submit" class="btn btn-default" value="Submit">Signup</button>
                    }
                </div><!--/sign up form-->
            </div>
        </div>
    </div>
</section><!--/form-->